{% extends "base.html" %}

{% block content %}
<h2>Liste des élèves</h2>

<table class="table table-striped">
  <thead>
    {% if eleves %}
      <tr>
        {% for col in eleves[0].keys() %}
          <th>{{ col }}</th>
        {% endfor %}
        <th>Action</th>
      </tr>
    {% else %}
      <tr><th colspan="99">Aucun élève enregistré.</th></tr>
    {% endif %}
  </thead>

  <tbody>
    {% for row in eleves %}
      <tr>
        {% for col in row.keys() %}
          <td>{{ row[col] }}</td>
        {% endfor %}
        <td><a href="{{ url_for('fiche_eleve', eleve_id=row['id']) }}">Voir fiche</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

